:root {
  --light-shades: #F0995F;
  --light-accent: #E1DCC2;
  --main-color: #87975A;
  --dark-accent: #48664B;
  --dark-shades: #233438;
  --very-dark-shades: #0a0e0f;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-shades);
  font-family: 'Roboto', sans-serif;
}

h3,
h4 {
  color: var(--dark-shades);
  font-weight: 500;
}

p {
  font-weight: 400;
}

header {
  overflow: hidden;
  background-color: var(--main-color);
  padding: 16px 8px;
  display: flex;
}

/* Style the header links */
header a {
  float: left;
  color: var(--light-accent);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  background: var(--dark-accent);
  margin: 2px 8px;
  transition: background-color 400ms ease;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
header a:hover {
  background-color: var(--light-accent);
  color: var(--dark-shades);
}

/* Style the active/current link*/
header a.active {
  background-color: var(--light-shades);
  color: var(--light-accent);
}

/* Float the link section to the right */
header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
  }
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  background-color: var(--light-accent);
  padding: 16px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px var(--very-dark-shades);
  margin: 8px 16px 0 16px;
  width: 100%;
  animation: 4s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.question-layout {
  margin-bottom: 32px;
}

.question-layout-1-1 {
  margin-bottom: 32px;
}

.options-title {
  width: 50%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 16px;
  border-top: 2px solid #0a0e0f;
  border-bottom: 2px solid #0a0e0f;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.radio-input-container {
  display: flex;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
  border-radius: 8px;
  border: 2px solid var(--light-shades);
  width: 220px;
  height: 140px;
  font-size: 12px;
}

.radio-input-container-deselected {
  border: 2px solid var(--main-color);
}