{% extends 'layout.html' %}

{% block custom_styles %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/header.css')}}"
/>
{% endblock %}

{% block headerLinks %}
  <a class="active" href="/question_01">Questão 1</a>
  <a href="/question_02">Questão 2</a>
  <a href="/question_03">Questão 3</a>
{% endblock %}

{% block content %}
    <div class="question-container">
      <div class="question-layout">
        <h3>Questão 1</h3>
        <p>Encontre, caso exista, a matriz inversa à matriz
          <span class="math display">
            <p><span class="math display">\[n=-{\frac {log_{\sqrt {4}}\left(log_{\sqrt {4}}\;\left({\begin{matrix}4n+1\;{\mbox{radicais}}\\\overbrace {\sqrt {\sqrt {\cdots {\sqrt {4}}}}} \end{matrix}}\right)\right)}{4}}\]</span></p>

          </span>
        </p>
      </div>
      <h4 class="options-title">Alternativas</h4>
      <form name="options">
        <div class="radio-container">
          <div class="radio-input-container" id="option_01">
            <input type="radio" name="question_01" value="option_01" checked>
            <label for="option_01">
              <span class="math display">
                \[
                A^{-1} = \left( \begin{array}{rrrr}
                  1 &amp;  0            &amp;  0           &amp;  0           \\
                  0 &amp;  \frac{1}{2}  &amp; -\frac{1}{3} &amp;  0           \\
                  0 &amp;  0            &amp;  \frac{1}{3} &amp;  \frac{1}{2} \\
                  0 &amp;  0            &amp;  0           &amp;  \frac{1}{2}
                \end{array} \right)
                \]
              </span>
            </label>
          </div>
          <div class="radio-input-container radio-input-container-deselected" id="option_02">
            <input type="radio" name="question_01" value="option_02">
            <label for="option_02">
              <span class="math display">
                \[
                A^{-1} = \left( \begin{array}{rrrr}
                  1 &amp;  1            &amp;  0           &amp;  0           \\
                  0 &amp;  \frac{1}{2}  &amp; -\frac{1}{2} &amp;  0           \\
                  0 &amp;  0            &amp;  \frac{1}{3} &amp;  \frac{1}{3} \\
                  0 &amp;  0            &amp;  0           &amp;  \frac{1}{4}
                \end{array} \right)
                \]
              </span>
            </label><br>
          </div>
          <div class="radio-input-container radio-input-container-deselected" id="option_03">
            <input type="radio" name="question_01" value="option_03">
            <label for="option_03">
              <span class="math display">
                \[
                A^{-1} = \left( \begin{array}{rrrr}
                  1 &amp; -1            &amp;  0           &amp;  0           \\
                  0 &amp;  \frac{1}{2}  &amp; -\frac{1}{2} &amp;  0           \\
                  0 &amp;  0            &amp;  \frac{1}{3} &amp; -\frac{1}{3} \\
                  0 &amp;  0            &amp;  0           &amp;  \frac{1}{4}
                \end{array} \right)
                \]
              </span>
            </label>
          </div>
          <div class="radio-input-container radio-input-container-deselected" id="option_04">
            <input type="radio" name="question_01" value="option_04">
            <label for="option_04">
              <span class="math display">
                \[
                A^{-1} = \left( \begin{array}{rrrr}
                  1 &amp;  -1            &amp;  0           &amp;  0           \\
                  0 &amp;   \frac{1}{3}  &amp; -\frac{1}{3} &amp;  0           \\
                  0 &amp;   0            &amp; -\frac{1}{2} &amp;  \frac{1}{2} \\
                  0 &amp;   0            &amp;  0           &amp;  \frac{1}{4}
                \end{array} \right)
                \]
              </span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block scripts %}
<script>
var rad = document.options.question_01;
var prev = rad[0];
for (var i = 0; i < rad.length; i++) {
  rad[i].addEventListener("change", function () {
    prev ? console.log(prev.value) : null;
    if (this !== prev) {
      document
        .getElementById(`${prev.value}`)
        .classList.toggle("radio-input-container-deselected");
      prev = this;
      document
        .getElementById(`${prev.value}`)
        .classList.toggle("radio-input-container-deselected");
    }
    console.log(this.value);
  });
}
</script>
{% endblock %}